<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Reminders</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Make sure before you leave you have Zello installed and ready to go! If you are having trouble please see one of the tour guides that were introduced at dinner. When you are down at the Monuments please be mindful that these are memorials and are a quiet setting. Please do not use the walkie-talkie app while you are in the memorial. If you have an emergency please step out of the memorial area and contact your channel.
        </p>
    </div>
</section>
